[Unit]
Description=Run CARLA Delivery Health Watchdog

[Timer]
OnBootSec=120s
OnUnitActiveSec=30s
AccuracySec=5s
Unit=delivery-watchdog.service

[Install]
WantedBy=timers.target

